<% layout('layout') -%>
<div class="navbar">
	<div class="container">
		<div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
            	<li><a>Current Database : <%= database %></a></li>
            	<li><a>Current Collection : <%= collectionName %></a></li>
            	<li><a>Number of Documents : <%= documentCount %></a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div>
</div>

<!-- begin list-->
<table class="table table-hover" style = "background-color:#EEE">
	<tr style = "background-color:#fff">
		<td><font size=2pt><strong><center>MemberName</center></strong></font></td>
		<td><font size=2pt><strong><center>Password</center></strong></font></td>
		<td><font size=2pt><strong><center>Email</center></strong></font></td>
		<td><font size=2pt><strong><center>Edit</center></strong></font></td>
		<td><font size=2pt><strong><center>Delete</center></strong></font></td>
		<% for(var i = 0; i < documentCount; i++){ %>
		<tr>
			<td><%= myMember[i].username %></td>
			<td><%= myMember[i].password %></td>
			<td><%= myMember[i].email %></td>
			<td width=60><center><a href="#" style="text-decoration:none"><span class="glyphicon glyphicon-edit"></span></a></center></td>
			<td width=60><center><a href="/MONGO?cmd=del&id=<%= myMember[i]._id %>" style="text-decoration:none"><span class="glyphicon glyphicon-remove"></span></a></center></td>
		</tr>
		<% } %>
	</tr>
	<tr>
</table>
<!-- end list-->
